.menuheader{
  background-color: #74002D;
  padding: 50px;
  text-align: center;
}

.subheader{
  background: url("http://img04.en25.com/EloquaImages/clients/BartleandGibsonCoLtd/{23aeecd3-dabc-4b07-9e77-c835c4182540}_ca-flag.jpg") no-repeat;
  background-position: 80% 8%;
  background-color: black;
  height: 75px;
}
.pref-title{
  color: #ffba14;
  font-size: 36px;
  padding-top: 25px;
}
#footercontainer {
  text-align: center;
  background-color: black;
  padding: 25px;

}
.footer p{
    color: #fff;
}
.footer a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#footercontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#footercontainer ul li {
  display: inline;
}

#footercontainer ul li a{
text-decoration: none;
padding: .2em 1em;
color: #fff;
}
#footercontainer ul li img{
  width: 50px;
  height: 50px;
}
